* {
  padding: 0;
  margin: 0;
}

body {
  background: chocolate;
  font-family: monospace;
  padding-top: 25%;
}
.container {
  margin: 0 auto;
  width: 50%;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

p {
  padding-bottom: 2px;
}
