* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  padding-top: 25%;
}
.container {
  margin: 0 auto;
  width: 50%;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

p {
  padding-bottom: 15px;
}
