<footer class="site-footer">

  <div class="wrap">
    <div class="footer-col-1 column">
      <ul>
        <div><h1>George Mayorga</h1></div>
        <li>Web Developer trained by <a href="http://thoughtbot.com">thoughtbot</a>/<a href="http://thisismetis">metis</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li><a href="https://github.com/georgetmayorga">github.com/georgetmayorga</a></li>
        <li><a href="mailto:someone@example.com">email@georgemayorga.com</a></li>
      </ul>
    </div>

  </div>

</footer>
