<footer class="site-footer">

  <div class="wrap">
    <div><h1>George Mayorga</h1></div>
    <div class="footer-col-1 column">
      <ul>
        <li>Web Developer trained by <a href="http://thoughtbot.com">thoughtbot</a>/<a href="http://thisismetis.com">metis</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li><a href="https://github.com/georgetmayorga" target=_blank>github.com/georgetmayorga</a></li>
        <li><a href="https://www.linkedin.com/in/gmayorga" target=_blank>linkedin.com/in/gmayorga</a></li>
        <li><a href="mailto:email@georgemayorga.com" target=_blank>email@georgemayorga.com</a></li>
      </ul>
    </div>

  </div>

</footer>
